name: Simple Performance Test

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v4
    
    - name: Setup Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.13'
    
    - name: Install packages
      run: pip install pandas scipy python-dateutil pandas-market-calendars polars
      # run: pip install -r requirements.txt
    
    - name: Run test
      run: python simple_test.py